# ignore various files
*.gz
*.dat
a.out
*.bak
gmon.out
*.o
foo
bar
bletch
foo.*
bar.*
bletch.*
bc2.lst
bc3.lst
zero_stats/*.out
zero_stats/*.sh
*.sh.o*
cramer/*.sh
cramer/*.out
harald/apr_20/data/
harald/apr_20/*.sh
harald/apr_20/*.out
harald/apr_20/test*

# ignore this as it refers to a refereed paper
willie_wu
sorenson

#ignore this as its a repository in its own right
lfunctions

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el
