# ignore various files
briggs/parallel/parallel
ethan/n_minus_prime_square/sieve
maciej/maciej
maciej/makefile
maciej/do_one.sh
tim/grh_check/first_zeros/
tim/grh_check/hist.plt
tim/grh_check/dir_even_deriv
tim/grh_check/dir_odd_deriv
tim/grh_check/g_*

tim/watkins/do_3e8.sh
tim/watkins/watkins_seg_int_double
zero_stats/read_zeros
*.log
*.out
*.aux
*.gz
*.dat
a.out
*.bak
gmon.out
*.o
foo
bar
bletch
foo.*
bar.*
bletch.*
bc2.lst
bc3.lst
zero_stats/*.out
zero_stats/*.sh
zero_stats/artur_Q
zero_stats/artur_sep_20
zero_stats/artur_voros_z
*.sh.o*
cramer/*.sh
cramer/*.out
harald/apr_20/data/
harald/apr_20/*.sh
harald/apr_20/*.out
harald/apr_20/test*
harald/apr_20/*.lst
harald/apr_20/read_residues
harald/apr_20/residue_sum
harald/nov_24/data
harald/nov_24/residue_sums
harald/nov_24/residue_sums.sh
harald/nov_24/summary


l-func-hi/print_zeros
L1/L1.1
L1/Louboutin
L1/data/


# ignore this as it refers to a refereed paper
willie_wu
sorenson

#ignore this as its a repository in its own right
lfunctions

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el
arb_windowed_chiara_2024/arb_code
arb_windowed_chiara_2024/arb_code_v1
arb_windowed_chiara_2024/arb_zeta
arb_windowed_chiara_2024/data
arb_windowed_chiara_2024/single_zero_S_T
arb_windowed_chiara_2024/test.sh

ethan/check_first_zero
arb_windowed_raijin/arb_zeta
